* {
    margin: 0;
    padding: 0;
}

button, 
button:active, 
button:focus,
input,
audio {
  outline: none;
}

a,
a:after,
a:visited{
    text-decoration: none;
}

:root{
    font-family: 'Fraunces', serif;
    font-weight: 400;

    --color-black: #000000;
    --color-grey: #545454;
    --color-grey-light: #acacac;
    --color-light: #FFFFFF;
    --color-blue-light:#0000ff7a;;

}
  
body{
    background: url("./src/img/whiteBackground.jpg") center no-repeat;
    background-size:cover;
    width: 100%;
    height: 100vh;
}

.game_field {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 20px auto 15px;
}

.game_board{
    border: 3px solid var(--color-grey);
    background-color: var(--color-black);
}

.right-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.bttn {
    background-color: var(--color-blue-light);
    font-size: 18px;
    width: 100px;
    cursor: pointer;
    margin-top: 10px;
}

.bttn:hover{
    background-color: var(--color-grey-light);
}

.pause_button{
    display: none;
}
/*game control*/

.game_control {
    display: flex;
    flex-flow: row wrap;
    margin-top: 10px;
    padding: 5px;
    width: 100px;
}

.up {
    flex: 100%;
    width: 50px;
}

.middle{
    flex: 50%;
}

.down {
    flex: 100%;
}

/*footer*/

.footer{
    display: flex;
    justify-content: center;
}

.github_logo, .rs_logo {
    height: 20px;
    cursor: pointer;
    margin: 0 10px;
}

.copyright{
    align-self: center;
    font-size: 12px;
}